@page "/"

<div class="container-fluid">
    <div class="row col-md-6 mx-auto">
        <div class="jumbotron text-center">
            <h1>Welcome to Kyle's Blazor test.</h1>
            <hr />
            <p>This is a website I built with Blazor Webassembly<br />to try to create a few simple games using C#.</p>
            <div class="btn-group-vertical btn-group-lg">
                <a class="btn btn-outline-primary" href="/tictactoe">
                    <i class="oi oi-x"></i> Tic-Tac-Toe
                </a>
                <a class="btn btn-outline-primary" href="/minesweeper">
                    <i class="oi oi-flag"></i> Minesweeper
                </a>
            </div>
        </div>
    </div>
</div>

